html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#upBorder {
    position: fixed;
    width: 100%;
    top: 0;
    height: 15%;
    pointer-events: none;
}

#downBorder {
    position: fixed;
    width: 100%;
    top: 15%;
    height: 85%;
    pointer-events: none;
}

.main-body-back-ground {
    background-color: rgba(187, 242, 255, 0.5);
}


.top-body-back-ground {
    background-color: #0dcaf0;
}

.field {
    font-weight: bold;
}