.icon {
    display: flex;
    margin-left: auto;
    cursor: pointer;
    right: inherit;
}


.text {
    display: flex;
    border-radius: 1px;
    font-size: 1vw + 1vh;
    bottom: -2vh;
    margin-bottom: 10px;
}

/* messages realated */

.right-header {
    padding: 10px;
    font-size: 20px;
    background-color: #54656f;
    display: flex;
    align-items: center;
    height: 60px;
    z-index: 1;
    border: 1px solid #aebac1;

}

.right-header .media-body {
    margin-left: 10px;
    z-index: 2;
    color: #d1d7db;
    ;
}

.right-header .avatar {
    margin-right: 10px;
    z-index: 2;
}

.messages-container {
    display: flex;
    height: 100vh;
    width: 100vw;
    padding-top: 15vh;
    background-color: #111b21;
    z-index: -1;
}

#messages-section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 80vw;
    justify-content: flex-end;
    background-image: url('../../public/photos/chats_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.messages {
    flex-grow: 1;
    overflow-y: auto;
    height: 100vh;
    flex-direction: column-reverse;
    margin-bottom: auto;
}

.message {
    color: whitesmoke;
    position: relative;
    left: 20px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: fit-content;
    min-height: 8vh;
    min-width: 5vw;
    max-width: 70vw;
    word-break: break-word;
    top: 60vh;
}

.message::after {
    content: "";
    border: 10px solid transparent;
    position: absolute;
}

.message-left::after {
    border-right-color: #54656f;
    border-left: 0;
    left: -6px;
    top: 60%;
    transform: translateY(-50%);
}

.message-right::after {
    border-left-color: #007bff;
    border-right: 0;
    right: -6px;
    top: 60%;
    transform: translateY(-50%);
}

.message-left {
    align-items: flex-start;
    background-color: #54656f;
}

.message-right {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 0;
    background-color: #007bff;
    color: #fff;
    align-items: flex-start;
}

/* conversations related */

#conversations-section {
    display: flex;
    flex-direction: column;
    width: 20vw;
    overflow-y: auto;
    border: 1px solid #aebac1;
}

.left-header {
    border: 1px solid #aebac1;
    background-color: #54656f;
    height: 60px;
    z-index: 1;
}

.name {
    display: flex;
    position: relative;
    font-weight: 600;
    color: #d1d7db;
    margin-bottom: auto;
    margin-right: auto;
}

.avatar {
    display: flex;
    width: 50px;
    height: 50px;
    border: 1px solid #aebac1;
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 2px;
    margin-top: 2px;
    padding: 1px;
    background-color: #111b21;
}

.conversations>div {
    display: flex;
    height: 60px;
    border: 1px solid #aebac1;
    border-radius: 5px;
    background-color: #54656f;
    font-size: max(1vw, 10px);
    flex-direction: column;
    margin-bottom: 2px;
}

.left-header>div {
    display: flex;
    margin-right: auto;
    font-size: max(1vw, 10px);
}

@media screen and (max-width: 600px) {
    .left-header .name {
        display: none;
    }
}

.media {
    display: flex;
    border-radius: 10px;
    position: relative;
    padding-bottom: 10px;
}

.media-body {
    display: flex;
    flex-direction: column;
}

.last-msg {
    display: inline-block;
    position: relative;
    font-size: max(calc((1vw + 2vh) / 2), 8px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
    margin-top: auto;
    margin-bottom: auto;
    right: 5vw;
    color: #d1d7db;
}


.time {
    position: absolute;
    font-size: calc((1vw + 1vh) / 2);
    color: #d1d7db;
    bottom: 5px;
    right: 0.2vw;
}



/*general related*/

.container-fluid {
    display: flex;
    height: 100vh;
    width: 70vw;
    margin: auto;
    padding: 0;
    border-radius: 5px;
    flex-direction: column;
    overflow-y: auto;
}

.logout-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    bottom: auto !important;
    background-color: #54656f;
    border: 1px solid #aebac1;
}

.logout-btn:hover {
    background-color: #111b21;
}


/*send related*/
.footer-btn {
    min-height: 6vh;
    height: 100%;
    color: black;
    top: 0;
    background-color: #54656f;
}

#send-group {
    display: flex;
    margin-top: auto;
    max-width: 80vw;
}

.media {
    display: flex;
}

.current-conversation {
    background-color: rgba(134, 163, 179, 0.5);
    background-clip: padding-box;
}

.input-bg-color {
    background-color: #d1d7db;
}